h1{
    font-size: 32px; 
    margin-left:40px;
    margin-top:30px;
    margin-bottom: 30px;
}
h2{
    font-size: 24px;
}
.square{
    margin-left:40px;
    padding-left:20px;
    width:500px;
    height:300px;
    border: solid brown 1px;
}
.but{
    margin-top: 30px;
    margin-left:10px;
}
p{
    margin-top:40px;
    margin-left:40px;  
    font-size: 18px;
    font-weight: bold;
    color: brown;
}
#result{
    margin-left:40px;
    margin-top:20px;
    font-size: 18px;
    font-weight: bold;
    color: brown;
}